In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from pprint import pprint
import numpy as np
import scipy as sci

In [2]:
comb_path = os.path.join("comb_Tcopy.csv")
raw_path = os.path.join("gps_Tcopy.csv")
review_path = os.path.join("gps_reviews_Tcopy.csv")

In [3]:
comb_df = pd.read_csv(comb_path, low_memory=False)
comb_df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,A kid's excessive ads. The types ads allowed a...,Negative,-0.250,1.000000
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,It bad >:(,Negative,-0.725,0.833333
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,like,Neutral,0.000,0.000000
3,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN,NaN,NaN,NaN
4,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,I love colors inspyering,Positive,0.500,0.600000

In [16]:
sentiment_df = comb_df.loc[:, ['App', 'Type', 'Sentiment']]
sentiment_df = sentiment_df.dropna()
sentiment_df

                                 App  Type Sentiment
0                Coloring book moana  Free  Negative
1                Coloring book moana  Free  Negative
2                Coloring book moana  Free   Neutral
4                Coloring book moana  Free  Positive
5                Coloring book moana  Free  Negative
...                              ...   ...       ...
122646  A+ Gallery - Photos & Videos  Free  Positive
122652  A+ Gallery - Photos & Videos  Free  Positive
122659  A+ Gallery - Photos & Videos  Free  Positive
122660  A+ Gallery - Photos & Videos  Free   Neutral
122661  A+ Gallery - Photos & Videos  Free  Positive

[72615 rows x 3 columns]

In [17]:
app_sent_df = sentiment_df.copy()
app_sent_df = app_sent_df.groupby('App')['Sentiment'].value_counts()
app_sent_df

App                             Sentiment
10 Best Foods for You           Positive     324
                                Neutral       44
                                Negative      20
11st                            Positive      23
                                Neutral       10
                                            ...
Hotwire Hotel & Car Rental App  Neutral       11
                                Negative       6
Housing-Real Estate & Property  Negative      10
                                Positive       8
                                Neutral        3
Name: Sentiment, Length: 2240, dtype: int64

In [29]:
type_sent_df = sentiment_df.copy()
type_sent_df = type_sent_df.groupby('Type')['Sentiment'].value_counts()
type_sent_df

Type  Sentiment
Free  Positive     45569
      Negative     18020
      Neutral       8244
Paid  Positive       626
      Negative       114
      Neutral         42
Name: Sentiment, dtype: int64